<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="operations"    class="it.unical.inf.ea.app1.bean.Operations"></bean>
    <bean id="employee"  class="it.unical.inf.ea.app1.bean.Employee"></bean>
    <bean id="department"    class="it.unical.inf.ea.app1.bean.Department"></bean>

</beans>
