<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Aumenta il livello di log per Spring Security -->
    <logger name="org.springframework.security" level="DEBUG"/>
    <logger name="org.springframework.security.oauth2" level="DEBUG"/>
    <logger name="it.unical.ea.authp" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
